apiVersion: cluster.x-k8s.io/v1beta2
kind: Cluster
metadata:
  name: kairos-cluster
  namespace: default
spec:
  infrastructureRef:
    # Note: In v1beta2, use apiGroup instead of apiVersion
    apiGroup: infrastructure.cluster.x-k8s.io
    kind: DockerCluster
    name: kairos-cluster
  controlPlaneRef:
    # Note: In v1beta2, use apiGroup instead of apiVersion
    apiGroup: controlplane.cluster.x-k8s.io
    kind: KairosControlPlane
    name: kairos-control-plane
---
apiVersion: infrastructure.cluster.x-k8s.io/v1beta1
kind: DockerCluster
metadata:
  name: kairos-cluster
  namespace: default
---
apiVersion: controlplane.cluster.x-k8s.io/v1beta2
kind: KairosControlPlane
metadata:
  name: kairos-control-plane
  namespace: default
spec:
  replicas: 1
  version: "v1.30.0+k0s.0"
  machineTemplate:
    infrastructureRef:
      apiVersion: infrastructure.cluster.x-k8s.io/v1beta1
      kind: DockerMachineTemplate
      name: kairos-control-plane-template
      namespace: default
  kairosConfigTemplate:
    name: kairos-config-template-control-plane
    # Note: namespace defaults to the same namespace as KairosControlPlane
---
apiVersion: infrastructure.cluster.x-k8s.io/v1beta1
kind: DockerMachineTemplate
metadata:
  name: kairos-control-plane-template
  namespace: default
spec:
  template:
    spec:
      # Custom image can be specified here
      # For Kairos, you would use a Kairos-based image
      # Example: image: "quay.io/kairos/kairos-opensuse-leap:latest"
---
apiVersion: bootstrap.cluster.x-k8s.io/v1beta2
kind: KairosConfigTemplate
metadata:
  name: kairos-config-template-control-plane
  namespace: default
spec:
  template:
    spec:
      role: control-plane
      distribution: k0s
      kubernetesVersion: "v1.30.0+k0s.0"
      userName: kairos
      userPassword: kairos
      userGroups:
        - admin
      # Optional: Add GitHub user for SSH access
      # githubUser: "your-github-username"
---
# Worker node deployment
apiVersion: cluster.x-k8s.io/v1beta1
kind: MachineDeployment
metadata:
  name: kairos-worker-pool
  namespace: default
spec:
  clusterName: kairos-cluster
  replicas: 2
  selector:
    matchLabels:
      cluster.x-k8s.io/cluster-name: kairos-cluster
  template:
    metadata:
      labels:
        cluster.x-k8s.io/cluster-name: kairos-cluster
    spec:
      clusterName: kairos-cluster
      bootstrap:
        configRef:
          apiVersion: bootstrap.cluster.x-k8s.io/v1beta2
          kind: KairosConfigTemplate
          name: kairos-config-template-worker
          namespace: default
      infrastructureRef:
        apiVersion: infrastructure.cluster.x-k8s.io/v1beta1
        kind: DockerMachineTemplate
        name: kairos-worker-template
        namespace: default
      version: "v1.30.0+k0s.0"
---
apiVersion: infrastructure.cluster.x-k8s.io/v1beta1
kind: DockerMachineTemplate
metadata:
  name: kairos-worker-template
  namespace: default
spec:
  template:
    spec:
      # Custom image can be specified here
      # For Kairos, you would use a Kairos-based image
---
apiVersion: bootstrap.cluster.x-k8s.io/v1beta2
kind: KairosConfigTemplate
metadata:
  name: kairos-config-template-worker
  namespace: default
spec:
  template:
    spec:
      role: worker
      distribution: k0s
      kubernetesVersion: "v1.30.0+k0s.0"
      userName: kairos
      userPassword: kairos
      userGroups:
        - admin
      # Worker token via Secret (recommended for production)
      workerTokenSecretRef:
        name: kairos-worker-token
        key: token
        namespace: default
      # Alternative: inline token (for development only)
      # workerToken: "your-worker-token-here"
      # Optional: Add GitHub user for SSH access
      # githubUser: "your-github-username"
---
# Secret containing worker join token
# In production, this should be created securely, e.g., from k0s token command:
# k0s token create --role=worker > worker-token.txt
apiVersion: v1
kind: Secret
metadata:
  name: kairos-worker-token
  namespace: default
type: Opaque
stringData:
  token: "CHANGE_ME_WITH_ACTUAL_K0S_WORKER_TOKEN"
  # To get a worker token from an existing k0s cluster:
  # kubectl exec -n kube-system <k0s-controller-pod> -- k0s token create --role=worker

