# Provider metadata for clusterctl
# This file defines how clusterctl discovers and installs the Kairos CAPI Provider

apiVersion: clusterctl.cluster.x-k8s.io/v1beta1
kind: Provider
metadata:
  name: kairos
  labels:
    cluster.x-k8s.io/provider: "kairos"
spec:
  # Provider type: bootstrap, control-plane, infrastructure, or ipam
  providerType: bootstrap
  # Version of the provider
  version: v0.1.0
  # Manifest label for identifying provider components
  manifestLabel: "cluster.x-k8s.io/provider"
  # Components to install
  components:
    - name: kairos-bootstrap
      type: Components
      # Path to the kustomization file relative to this metadata file
      files:
        - url: https://github.com/wrkode/kairos-capi/releases/download/v0.1.0/components.yaml
          sha256: "" # TODO: Add SHA256 checksum for release
        - url: https://github.com/wrkode/kairos-capi/releases/download/v0.1.0/metadata.yaml
          sha256: "" # TODO: Add SHA256 checksum for release
  # Additional metadata
  metadata:
    releaseSeries: v0.1
---
apiVersion: clusterctl.cluster.x-k8s.io/v1beta1
kind: Provider
metadata:
  name: kairos
  labels:
    cluster.x-k8s.io/provider: "kairos"
spec:
  providerType: control-plane
  version: v0.1.0
  manifestLabel: "cluster.x-k8s.io/provider"
  components:
    - name: kairos-control-plane
      type: Components
      files:
        - url: https://github.com/wrkode/kairos-capi/releases/download/v0.1.0/components.yaml
          sha256: "" # TODO: Add SHA256 checksum for release
        - url: https://github.com/wrkode/kairos-capi/releases/download/v0.1.0/metadata.yaml
          sha256: "" # TODO: Add SHA256 checksum for release
  metadata:
    releaseSeries: v0.1

