---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.17.0
  labels:
    cluster.x-k8s.io/provider: kairos
    cluster.x-k8s.io/v1beta2: v1beta2
  name: kairoscontrolplanetemplates.controlplane.cluster.x-k8s.io
spec:
  group: controlplane.cluster.x-k8s.io
  names:
    categories:
    - cluster-api
    kind: KairosControlPlaneTemplate
    listKind: KairosControlPlaneTemplateList
    plural: kairoscontrolplanetemplates
    singular: kairoscontrolplanetemplate
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1beta2
    schema:
      openAPIV3Schema:
        description: KairosControlPlaneTemplate is the Schema for the kairoscontrolplanetemplates
          API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: KairosControlPlaneTemplateSpec defines the desired state
              of KairosControlPlaneTemplate
            properties:
              template:
                description: Template is the KairosControlPlane template to be used
                properties:
                  metadata:
                    description: Standard object's metadata.
                    type: object
                  spec:
                    description: Spec is the specification of the KairosControlPlane
                    properties:
                      distribution:
                        default: k0s
                        description: Distribution specifies the Kubernetes distribution
                          to install
                        enum:
                        - k0s
                        - k3s
                        type: string
                      kairosConfigTemplate:
                        description: |-
                          KairosConfigTemplate is a reference to a KairosConfigTemplate resource
                          Contract: ControlPlane MUST reference a BootstrapConfigTemplate
                        properties:
                          apiVersion:
                            description: APIVersion is the API version of the referenced
                              resource
                            type: string
                          kind:
                            description: Kind is the kind of the referenced resource
                            type: string
                          name:
                            description: Name is the name of the referenced resource
                            type: string
                        required:
                        - name
                        type: object
                      machineTemplate:
                        description: |-
                          MachineTemplate defines the template for creating control plane machines
                          Contract: ControlPlane MUST expose machineTemplate
                        properties:
                          infrastructureRef:
                            description: |-
                              InfrastructureRef is a reference to a resource that provides infrastructure
                              Contract: ControlPlane MUST reference an infrastructure template
                            properties:
                              apiVersion:
                                description: API version of the referent.
                                type: string
                              fieldPath:
                                description: |-
                                  If referring to a piece of an object instead of an entire object, this string
                                  should contain a valid JSON/Go field access statement, such as desiredState.manifest.containers[2].
                                  For example, if the object reference is to a container within a pod, this would take on a value like:
                                  "spec.containers{name}" (where "name" refers to the name of the container that triggered
                                  the event) or if no container name is specified "spec.containers[2]" (container with
                                  index 2 in this pod). This syntax is chosen only to have some well-defined way of
                                  referencing a part of an object.
                                type: string
                              kind:
                                description: |-
                                  Kind of the referent.
                                  More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
                                type: string
                              name:
                                description: |-
                                  Name of the referent.
                                  More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names
                                type: string
                              namespace:
                                description: |-
                                  Namespace of the referent.
                                  More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/namespaces/
                                type: string
                              resourceVersion:
                                description: |-
                                  Specific resourceVersion to which this reference is made, if any.
                                  More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#concurrency-control-and-consistency
                                type: string
                              uid:
                                description: |-
                                  UID of the referent.
                                  More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#uids
                                type: string
                            type: object
                            x-kubernetes-map-type: atomic
                          metadata:
                            description: Metadata is the metadata to apply to the
                              machines
                            properties:
                              annotations:
                                additionalProperties:
                                  type: string
                                description: |-
                                  Annotations is an unstructured key value map stored with a resource that may be
                                  set by external tools to store and retrieve arbitrary metadata. They are not
                                  queryable and should be preserved when modifying objects.
                                  More info: http://kubernetes.io/docs/user-guide/annotations
                                type: object
                              labels:
                                additionalProperties:
                                  type: string
                                description: |-
                                  Map of string keys and values that can be used to organize and categorize
                                  (scope and select) objects. May match selectors of replication controllers
                                  and services.
                                  More info: http://kubernetes.io/docs/user-guide/labels
                                type: object
                            type: object
                          nodeDrainTimeout:
                            description: |-
                              NodeDrainTimeout is the total amount of time that the controller will spend
                              on draining a controlplane node
                            type: string
                        required:
                        - infrastructureRef
                        type: object
                      replicas:
                        default: 1
                        description: |-
                          Replicas is the number of control plane machines
                          Contract: ControlPlane MUST expose replicas
                          When replicas == 1, the control plane operates in single-node mode and k0s will be
                          configured with --single flag. For HA setups, set replicas > 1 (full HA support is planned).
                        format: int32
                        minimum: 1
                        type: integer
                      rolloutStrategy:
                        description: RolloutStrategy defines the strategy for rolling
                          out updates
                        properties:
                          rollingUpdate:
                            description: RollingUpdate defines the rolling update
                              configuration
                            properties:
                              maxSurge:
                                description: |-
                                  MaxSurge is the maximum number of machines that can be created above the
                                  desired number of machines
                                format: int32
                                type: integer
                            type: object
                          type:
                            default: RollingUpdate
                            description: Type is the type of rollout strategy
                            enum:
                            - RollingUpdate
                            type: string
                        type: object
                      version:
                        description: |-
                          Version is the Kubernetes version to use
                          Contract: ControlPlane MUST expose version
                        type: string
                    required:
                    - kairosConfigTemplate
                    - machineTemplate
                    - version
                    type: object
                required:
                - spec
                type: object
            required:
            - template
            type: object
        type: object
    served: true
    storage: true
    subresources: {}
